// 清除浮动
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// 滚动条
@mixin scrollBar {
  // &::-webkit-scrollbar-track-piece {
  //   background: red;
  // }
  // &::-webkit-scrollbar {
  //   width: 20px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: blue;
  //   border-radius: 20px;
  // }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
    width: 11px;
    }
    
    &::-webkit-scrollbar:horizontal {
    height: 11px;
    }
    
    &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
    }
}

// 相对位置
@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}