$menuText:black;
$menuActiveText: #2d8cf0!important;
$subMenuActiveText: #2d8cf0!important;

$menuBg: #FFF;
// $menuBg: #17181d;
$menuHover: rgb(233, 233, 238);
$topLogoNavBg: #2d8cf0!important;

// $subMenuBg: #17181d;
$subMenuBg: #FFF;
$subMenuHover:rgb(233, 233, 238);

$sideBarWidth: 256px;
$topLogoNavHeight: 60px;

$fontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  topLogoNavHeight: $topLogoNavHeight;
  fontFamily: $fontFamily;
}




